._*
.DS_Store
.vagrant

# Symfony
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar

# Yeoman
node_modules
.tmp
.sass-cache
web/libs
web/css
app/dist
/web/js
/web/js
web/images
/undefined
/web/js/app.js
/web/js/app.js.map
