{% extends 'base.html.twig' %}

{% block body %}
    {#<div id="app"></div>#}
    <div style="width:50%; margin-left: auto; margin-right: auto; margin-top:10%">
      <img src="dist/images/CADAVRESKY-logo-fullscreen.png" width="200" style="margin-right: auto; margin-left: auto; display: block;"/>
      <p style="text-align: center; font-size: 30px;">Site en construction</p>
      <p style="text-align: center; font-size: 30px;"><a href="http://www.cadavresky-shop.com/" style="text-align: center">Shop</a></p>
    </div>
{% endblock %}
