$primary: #5cb85c;
$secondary : #d9534f;
$info: #d9edf7;
$red: #fc102b;
$purple: #453ec4;
$yellow: #ffef00;
$green: #31b893;
$orange: #fe4e29;
$pink: #f921d4;
$black: #000;
$brown: #c5a671;
$beige: #d5c588;
$khaki: #515137;
$grey: #ccc;
