@import '_custom-variables.scss';
@import '_color.scss';
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
    font-family: "5by7";
    src: url("../fonts/5by7.ttf");
}

body {
    font-family: sans-serif;
}

.container {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 10px;
    margin-right: 10px;
}

.content {
    overflow-y: auto;
}

.editor {
   border: 1px dashed $grey;
   padding: 6px;
}

#logo-default {
    margin: 25px 25px 100px -15px;
    width: 120px;
}

//#close-menu-icon {
//    border: none;
//    margin-right: -25px;
//}

#nav-logos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 50px;
}

#logo-instagram {
    width: 70px;
    height: 70px;
}

#logo-facebook {
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

#palm {
    position: fixed;
    width: 330px;
    height: 245px;
    right: 0;
    bottom: 0;
    z-index: 5;
}

#cover {
    position: fixed;
    width: 120px;
    right: 90px;
    bottom: -6px;
    z-index: 4;
}

@keyframes loading {
  100% { transform:rotate(360deg); }
}

#spinner {
  fill: black;
  height: 30px;
  width: 30px;
  animation: loading 1s linear infinite;
}

.navbar-default {
    background-color: white;
    border-color: white;

    .menu {
        text-transform: uppercase;
        font-weight: bold;
    }
    .navbar-nav {

        .active {
            a {
                background-color: transparent;
                color: black;
                display: inline-block;
                position: relative;

                &:hover, &:focus, &:active {
                    background-color: transparent;
                    color: black;
                }

//                &:before {
//                  content: "";
//                  position: absolute;
//                  top: 40%;
//                  left: 2px;
//                  right: 0;
//                  background: black; /* line color */
//                }
            }
        }

        .menu-whoswho {
            background-color: $red;
            background-image: url('../images/menu_categories/B1_unselected.png');

            &:hover {
                background-image: url('../images/menu_categories/B1_selected.png');
            }
        }

        .menu-projectology {
            background-color: $purple;
            background-image: url('../images/menu_categories/B2_unselected.png');

            &:hover {
                background-image: url('../images/menu_categories/B2_selected.png');
            }
        }

        .menu-zoo {
            background-color: $yellow;
            background-image: url('../images/menu_categories/B3_unselected.png');

            &:hover {
                background-image: url('../images/menu_categories/B3_selected.png');
            }
        }

        .menu-shop {
            background-color: $green;
            background-image: url('../images/menu_categories/B4_unselected.png');

            &:hover {
                background-image: url('../images/menu_categories/B4_selected.png');
            }
        }

        .menu-goodies {
            background-color: $orange;
            background-image: url('../images/menu_categories/B5_unselected.png');

            &:hover {
                background-image: url('../images/menu_categories/B5_selected.png');
            }
        }

        .menu-contact {
            background-color: $pink;
            background-image: url('../images/menu_categories/B6_unselected.png');

            &:hover {
                background-image: url('../images/menu_categories/B6_selected.png');
            }
        }

        .menu-facebook {
            background-color: $brown;
            position: fixed;
            bottom: 30px;
        }

        .menu-instagram {
            background-color: $beige;
            position: fixed;
            bottom: 0px;
        }

        >li {
            margin-bottom: 10px;

            a {
                padding: 5px 2px;
                background-color: transparent;
                color: black;
                &:hover, &:focus, &:active {
                    color: black;
                    display: inline-block;
                    position: relative;

                    &:before {
                      content: "";
                      position: absolute;
                      top: 40%;
                      left: 2px;
                      right: 0;
                      background: black; /* line color */
                    }
                }
            }
      }
  }
}

.footer {
    position: absolute;
    bottom: 0;
    height: 140px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.lp {
    position: fixed;
    bottom: 1px;
    right: 100px;
    width: 70px;
    transition: 4s;
    z-index: 3;
}

@keyframes spin {
  100% { transform:rotate(-720deg); }
}

.lp-moving {
    animation: spin 4s linear infinite;
}

.lp-moved {
    right: 88%;
}

.line {
    position: fixed;
    height: 29px;
    width: 8%;
    bottom: 21px;
    right: 100px;
    z-index: 1;
    transition: width 4s;
}

.line-moving {
    transition: width 4s;
    width: 77%;
}

.text {
    position: fixed;
    height: 50px;
    width: 0%;
    bottom: 10px;
    right: 100px;
    z-index: 2;
    transition: width 4s;
}

.text-moving {
    transition: width 4s;
    width: 77%;
}

.text span {
    font-family: '5by7';
    color: $khaki;
    line-height: 50px;
    text-align: center;
}

/* make sidebar nav vertical */
@media (min-width: $screen-sm-min) {
    .content {
        margin-top: 50px;
        margin-right: 16.66667%;
        height: 66vh;
    }

    .footer {
        width: 96%;
    }

    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sidebar-nav .navbar ul {
        float: none;
        margin: 30vh 0px 0px 25px;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
        width: 120px;
    }
    .navbar-header {
        display: none;
    }

    .navbar-default {
        .navbar-nav {
            .menu  {
                background-size: contain;
            }

            .menu-desktop > a {
                padding: 0px 2px;
            }

//            .active > a:before {
//              height: 4px; /* height = weight */
//            }

            li > a:before {
              height: 4px; /* height = weight */
            }
        }
    }

    #nav-logos {
        display: none;
    }

    .lp-moved {
        right: 83%;
    }

    .line {
        width: 5%;
    }

    .line-moving {
        width: 77%;
    }

    .text {
        width: 0%;
    }

    .text-moving {
        width: 77%;
    }
}

@media (max-width: $screen-xs-max) {
    #logo-default {
        display: none;
    }

    #logo-mobile {
        margin-top: 30px;
        margin-left: 12px;
    }

    #toggle-logo-mobile {
        left: -200px;
        opacity: 0;
        transition: all .4s ease-in-out;

        &.collapsed {
            left: 0px;
            opacity: 1;
            transition: all .8s ease-in-out;
        }
    }

    #toggle-text-mobile {
        left: -100px;
        opacity: 0;
        width: 0;
        transition: all .3s ease-in-out;

        &.collapse {
            left: 0;
            opacity: 1;
            width: 100%;
            transition: all .5s ease-in-out;
        }
    }

    .content {
        position: fixed;
        top: 100px;
        height: 47vh;

        &.transparent {
            opacity: 0.5;
        }
    }

    .footer {
        width: 90%;

        &.transparent {
            opacity: 0.5;
        }
    }

    .sidebar-nav .navbar .navbar-collapse {
        border-color: transparent;

        ul {
            left: -300px;
            width: 0%;
            padding-top: 60px;
            transition: all .5s ease-in-out;
        }

        &.collapse.in {
            ul {
                left: 0;
                width: 100%;
            }
        }
    }

    .navbar-default {
        .navbar-toggle {
            border: none;
            float: left;
            z-index: 1000;
            margin: 0;
            padding: 0;

            &:hover, &:focus {
                background-color: transparent;
                .icon-bar {
                    background-color: $black;
                }
            }
        }

        .navbar-nav {
            margin: 80px 0px;

//            .active > a:before {
//              height: 8px; /* height = weight */
//            }

            > li {
                margin-bottom: 15px;
                padding-left: 5px;
                height: 40px;

                &.menu-desktop {
                    display: none;
                }

                > a {
                    font-size: 28px;
                    padding: 10px 5px;
                    float: left;

                    &:before {
                      height: 8px; /* height = weight */
                    }
                }

                &#nav-logos {
                    > a {
                        &:hover {
                            &:before {
                              background: transparent; /* line color */
                            }
                        }
                    }
                }
            }
            .menu  {
                background-size: cover;
            }
        }
    }
}
