@import '_custom-variables.scss';
@import '_color.scss';
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
    font-family: sans-serif;
}

.container {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 10px;
    margin-right: 10px;
}

#logo-default {
    margin: 25px 25px 100px -15px;
    width: 120px;
}

//#close-menu-icon {
//    border: none;
//    margin-right: -25px;
//}

#nav-logos {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
}

#logo-instagram {
    width: 80px;
    height: 80px;
}

#logo-facebook {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

#palm {
    width: 200px;
    float: right;
    margin-right: -16px;
}

.navbar-default {
    background-color: white;
    border-color: white;

    .menu {
        text-transform: uppercase;
        font-weight: bold;
    }
    .navbar-nav {

        .active {
            a {
                background-color: transparent;
                color: black;
                display: inline-block;
                position: relative;

                &:hover, &:focus, &:active {
                    background-color: transparent;
                    color: black;
                }

                &:before {
                  content: "";
                  position: absolute;
                  top: 40%;
                  left: 2px;
                  right: 0;
                  background: black; /* line color */
                }
            }
        }

        .menu-whoswho {
            background-color: $red;
            background-image: url('../images/menu_categories/B1_unselected.png');

            &.active {
                background-image: url('../images/menu_categories/B1_selected.png');
            }
        }
          
        .menu-projectology {
            background-color: $purple;
            background-image: url('../images/menu_categories/B2_unselected.png');

            &.active {
                background-image: url('../images/menu_categories/B2_selected.png');
            }
        }

        .menu-zoo {
            background-color: $yellow;
            background-image: url('../images/menu_categories/B3_unselected.png');

            &.active {
                background-image: url('../images/menu_categories/B3_selected.png');
            }
        }

        .menu-shop {
            background-color: $green;
            background-image: url('../images/menu_categories/B4_unselected.png');

            &.active {
                background-image: url('../images/menu_categories/B4_selected.png');
            }
        }

        .menu-goodies {
            background-color: $orange;
            background-image: url('../images/menu_categories/B5_unselected.png');

            &.active {
                background-image: url('../images/menu_categories/B5_selected.png');
            }
        }

        .menu-contact {
            background-color: $pink;
            background-image: url('../images/menu_categories/B6_unselected.png');

            &.active {
                background-image: url('../images/menu_categories/B6_selected.png');
            }
        }
        
        .menu-facebook {
            background-color: $brown;
            position: fixed;
            bottom: 30px;
        }
        
        .menu-instagram {
            background-color: $beige;
            position: fixed;
            bottom: 0px;
        }

        >li {
            margin-bottom: 10px;

            a {
                padding: 5px 2px;
                background-color: transparent;
                color: black;
                &:hover, &:focus, &:active {
                    color: black;
                    display: inline-block;
                    position: relative;

                    &:before {
                      content: "";
                      position: absolute;
                      top: 40%;
                      left: 2px;
                      right: 0;
                      background: black; /* line color */
                    }
                }
            }
      } 
  }
}

.footer {
    position: absolute;
    bottom: 0;
    height: 140px;
}

/* make sidebar nav vertical */
@media (min-width: $screen-sm-min) {
    .content {
        margin-top: 50px;
        margin-right: 50px;
    }
    
    .footer {
        width: 98%;
    }

    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sidebar-nav .navbar ul {
        float: none;
        margin: 30vh 0px 0px 25px;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
        width: 120px;
    }
    .navbar-header {
        display: none;
    }
    
    .navbar-default {
        .navbar-nav {
            .menu  {
                background-size: contain;
            }

            .menu-desktop > a {
                padding: 0px 2px;
            }

            .active > a:before {
              height: 4px; /* height = weight */
            }

            li > a:before {
              height: 4px; /* height = weight */
            }
        }
    }

    #nav-logos {
        display: none;
    }
}

@media (max-width: $screen-xs-max) {
    #logo-default {
        display: none;
    }

    #logo-mobile {
        margin-top: 30px;
        margin-left: 12px;
    }

    #toggle-logo-mobile {
        height: 0;

        &.in {
            height: 75px;
        }
    }

    #toggle-text-mobile {
        left: -200px;
        width: 0%;
        transition: all .5s ease-in-out;

        &.in {
            left: 0;
            width: 100%;
        }
    }

    .content {
        position: fixed;
        top: 100px;
//        margin-right: 0px;

        &.transparent {
            opacity: 0.5;
        }
    }
    
    .footer {
        width: 96%;
    }

    .sidebar-nav .navbar .navbar-collapse {
        border-color: transparent;

        ul {
            left: -200px;
            width: 0%;
            padding-top: 60px;
            transition: all .5s ease-in-out;
        }

        &.collapse.in {
            ul {
                left: 0;
                width: 100%;
            }
        }
    }

    .navbar-default {
        .navbar-toggle {
            border: none;
            float: left;
            z-index: 1000;
            margin: 0;
            padding: 0;

            &:hover, &:focus {
                background-color: transparent;
                .icon-bar {
                    background-color: $black;
                }
            }
        }
        
        .navbar-nav {
            margin: 80px 0px;

            .active > a:before {
              height: 8px; /* height = weight */
            }

            > li {
                margin-bottom: 15px;
                height: 40px;

                &.menu-desktop {
                    display: none;
                }

                > a {
                    font-size: 28px;
                    padding: 10px 5px;

                    &:before {
                      height: 8px; /* height = weight */
                    }
                }
            }
            .menu  {
                background-size: cover;
            }
        }
    }
}

