@import 'custom-variables';
@import 'color';
@import 'main';
@import 'header';
@import 'bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

/* make sidebar nav vertical */ 
@media (min-width: $screen-sm-min) {
    .content {
        margin-top: 50px;
        margin-right: 50px
    }

    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sidebar-nav .navbar ul {
        float: none;
        margin: 100px 0px 0px 25px;
//        margin: 25rem 0px 0px 25px;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
        width: 120px;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .navbar-header {
        display: none;
    }
}

@media (max-width: $screen-xs-max) {
    #logo-default {
        display: none;
    }
    
    .content {
        margin-top: 0px;
        margin-right: 0px
    }

    .sidebar-nav .navbar .navbar-collapse {
        border-color: transparent;

        ul {
            left: -200px;
            width: 0%;
            padding: 10px 50px 0px 10px;
            transition: all .5s ease-in-out;
        }

        &.collapse.in {
            ul {
                left: 0;
                width: 100%;
            }
        }
    }
    
    .navbar-nav {
//        margin: 15px -15px;
        margin: 80px 25px;
    }

    .navbar-default {
        margin-top: 15px;

        .navbar-toggle {
            border: none;
            float: left;

            &:hover, &:focus {
                background-color: transparent;
                .icon-bar {
                    background-color: $black;
                }
            }
        }
    }

    .navbar-default .navbar-nav > li {
        padding-bottom: 10px;
//        width: 100%;
    }
}

.navbar-default {
    background-color: white;
    border-color: white;

    .menu {
        text-transform: uppercase;
        font-weight: bold;
    }
    .navbar-nav {

        .active {
            a {
                background-color: transparent;
                color: black;
                text-decoration: line-through;
                &:hover, &:focus, &:active {
                    background-color: transparent;
                    color: black;
                }
            }
        }

        .menu-whoswho {
            background-color: $red;
        }
          
        .menu-projectology {
            background-color: $purple;
        }

        .menu-zoo {
            background-color: $yellow;
        }

        .menu-shop {
            background-color: $green;
        }

        .menu-goodies {
            background-color: $orange;
        }

        .menu-contact {
            background-color: $pink;
        }

        >li {
//            width: 120px;
            margin-bottom: 10px;

            a {
                padding: 0px 2px;
                background-color: transparent;
                color: black;
                &:hover, &:focus, &:active {
                    color: black;
                    text-decoration: line-through;
                }
            }
      } 
  }
}

body {
    font-family: sans-serif;
}

.container {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 10px;
    margin-right: 10px;
}

#logo-default {
    margin: 25px 25px 100px -15px;
    width: 120px;
}

#logo-mobile {
    width: 45px;
}
